[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==24.3.0"
isort = "*"
flake8 = "*"
m2r = "*"
bump2version = "*"

[packages]
jinja2 = "*"
