[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
isort = "*"
flake8 = "*"
m2r = "*"

[packages]
jinja2 = "*"

[requires]
python_version = "3.7"
