events {
}
http
{
  server
  {
    listen {{ port }};
    listen [::]:{{ port }};

    client_max_body_size 10M;	
    server_name {{ server_name }};

    {% for location in locations %}
    location {{ location.path }}
    {
      proxy_pass {{ location.backend }};
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
    }
    {% endfor %}
  }
}
